.todoCard{
    border: 1px solid var(--grey);
    border-radius: 6px;
    box-shadow: var(--shadow) var(--grey);
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
    transition: 0.3s ease-in-out;
}

.todoCard.complete{
    border: 1px solid var(--green-3);
    box-shadow: var(--shadow) var(--green-2);
}
.todoCard.complete .todoText{
    text-decoration:line-through;
}

.todoText{
    font-size: 1.4rem;
    margin-right: auto;
    padding: 0 6px;
}

.button{
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0 6px;
}

.button svg{
    width: 20px;
}